[submodule "coordi-frontend"]
	path = coordi-frontend
	url = https://github.com/dltmddus02/coordi-frontend
[submodule "coordi-backend"]
	path = coordi-backend
	url = https://github.com/dltmddus02/coordi-backend
